# **List Comprehension**

**Classic for loop**

In [5]:
numbers = [3,5,45,97,32,22,10,19,39,43]
result = []
for number in numbers:
  if number % 2 == 0:
    result.append(number)
print(result)

[32, 22, 10]

**List Comprehension way**

In [6]:
result = [number for number in numbers if number % 2 == 0]
print(result)

[32, 22, 10]

**Python List Comprehension: Find all of the numbers from 1-1000 that are divisible by 7**

In [7]:
div_by_7 = [ n for n in range(1,1001) if n%7 == 0 ]
print(div_by_7)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [12]:
div_by_100 = [n for n in range(1,1001) if n%100 == 0]
print(div_by_100)

[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

**Python List Comprehension: Find all of the numbers from 1-1000 that have a 3 in them**

In [13]:
list3 = [i for i in range(1,1001) if '3' in str(i)]
print(list3)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

**Count spaces in string**

In [22]:
st =  "This is my a list comprehension string manipulation sample to get count of all spaces   ..."
space_count_1 = [s for s in st].count(' ')
print("space_count_1 = ", space_count_1)

space_count_2 = [x for x in st if x.isspace()]
print("space_count_2 = ", len(space_count_2))

space_count_3 = sum([1 for x in st if x == ' '])
print("space_count_3 = ", space_count_3)

space_count_4 = len([letter for letter in st  if letter == ' '])
print("space_count_4 = ", space_count_4)

space_count_5 = sum([1 for i in range(len(st))if st[i]==' '])
print("space_count_5 = ", space_count_5)

space_count_1 =  17
space_count_2 =  17
space_count_3 =  17
space_count_4 =  17
space_count_5 =  17

**Num of Vowels and consonant in string**

In [26]:
raw_sentence = "Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams Yes Yes Yes"
sentence = raw_sentence.lower()
print(sentence)
vowel_list = [letter for letter in sentence if letter in 'a, e, i, o, u']
print("vowel_list ", vowel_list)
print("count of vowel_list ", len(vowel_list))
consonant_list = [letter for letter in sentence if letter not in 'a, e, i, o, u, " "']
print("consonant_list ", consonant_list)
print("count of consonant_list ", len(consonant_list))
print("count of words", len(sentence.split()))

yellow yaks like yelling and yawning and yesturday they yodled while eating yuky yams yes yes yes
vowel_list  ['e', 'o', ' ', 'a', ' ', 'i', 'e', ' ', 'e', 'i', ' ', 'a', ' ', 'a', 'i', ' ', 'a', ' ', 'e', 'u', 'a', ' ', 'e', ' ', 'o', 'e', ' ', 'i', 'e', ' ', 'e', 'a', 'i', ' ', 'u', ' ', 'a', ' ', 'e', ' ', 'e', ' ', 'e']
count of vowel_list  43
consonant_list  ['y', 'l', 'l', 'w', 'y', 'k', 's', 'l', 'k', 'y', 'l', 'l', 'n', 'g', 'n', 'd', 'y', 'w', 'n', 'n', 'g', 'n', 'd', 'y', 's', 't', 'r', 'd', 'y', 't', 'h', 'y', 'y', 'd', 'l', 'd', 'w', 'h', 'l', 't', 'n', 'g', 'y', 'k', 'y', 'y', 'm', 's', 'y', 's', 'y', 's', 'y', 's']
count of consonant_list  54
count of words 17

**Get index and value of the list**

In [28]:
items = ["hi", 4, 8.99, 'apple', ('t,b','n')]
result = [(index, item) for index, item in enumerate(items)]
print(result)
print("item length ",len(items))
print("result length ",len(result))

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n'))]
item length  5
result length  5

**Find the common numbers in two lists (without using a tuple or set) list_a = [1, 2, 3, 4], list_b = [2, 3, 4, 5]**

In [29]:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]
common = [a for a in list_a if a in list_b]
print(common)

[2, 3, 4]

**Get only the numbers in a sentence like 'In 1984 there were 13 instances of a protest with over 1000 people attending'.  Result is a list of numbers like [3,4,5]**

In [32]:
sentence = 'In 1984 there were 13 instances of a protest with over 1000 people attending'
words = sentence.split()
result = [number for number in words if not number.isalpha() ]
print(result)

['1984', '13', '1000']